body {
  background-color: #FFFBF5;
  color: #373737;
  width: 317px;
  margin: 29px;
}

h1 {
  font-family: "Karla";
  font-size: 36px;
  font-weight: bold;
  line-height: 120%;
}

p {
  font-family: "Karla";
  font-size: 18px;
  font-weight: bold;
  padding-top: 35px;
  line-height: 120%;
}

.container {
  font-family: "Work Sans";
  font-size: 18px;
  font-weight: 200;
  color: #F49C31;
  margin: auto;
  width: 85%;
}
.container img {
  margin: auto;
  width: 30px;
}
