@font-face {
  font-family: 'Karla';
  src: url('./fonts/Karla/Karla-Regular.ttf');
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/Proxima Nova/ProximaNova-Regular.otf');
}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/worksans/WorkSans-Regular.ttf');
}

.rotate90 {
transform-origin: 50% 50%;
transform: rotate(90deg);
}

.sticky {
  position: fixed;
  top: 0;
}

.smoothContent {
  padding-top: 35px;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.hamburgerMenu {
  position: relative;
}

.extendedMenu {
  position: absolute;
  justify-content: space-evenly;
  width: 200px;
  top: 150px;
  left: -86px;
}

.menuText {
  color: #F49C31;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #FFFBF5;
  color: #373737;
  font-family: 'Proxima Nova';
  font-size: 18px;
  line-height: 120%;
  margin-top: 30px;
}

header {
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.smallLogo {
  width: 50px;
  height: 37.5px;
}

.menu {
  width: 72.5%;
  display: flex;
  justify-content: flex-end;
}

.icon {
  width: 30px;
  height: 30px;
}

.hero {
  font-family: 'Karla';
  font-size: 36px;
  font-weight: bold;
  line-height: 120%;
  padding-top: 35px;
}

.byLine {
  font-family: 'Karla';
  font-size: 18px;
  font-weight: bold;
  line-height: 120%;
  padding-top: 75px;
  display: flex;
  justify-content: center;
}

.project {
  padding-bottom: 50px;
  display: flex;
  width: 55%;
  /* justify-content: center;
  align-items: center; */
}

.projectImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.projectInfo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
}

@media screen and (max-width: 1150px) {
  .project {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .projectInfo {
    width: 450px;
    align-items: center;
  }
  .projectDescription {
    text-align: center;
  }
}

.heroSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.heroDescription {
  width: 70%;
  text-align: center;
  padding: 30px 0px 30px 0px;
}

.projectName {
  font-family: 'Karla';
  font-size: 48px;
  font-weight: bold;
  line-height: 120%;
}

.projectDescription {
  width: 70%;
  padding: 30px 0px 30px 0px;
}

.projectSubtitle {
  font-weight: 600;
}

.projectImage {
  padding-bottom: 30px;
}

.title {
  font-family: 'Karla';
  font-size: 36px;
  text-align: left;
  line-height: 130%;
  width: 100%;
  padding: 30px 0 20px 0;
}

.context {
  padding-bottom: 50px;
  text-align: left;
  width: 100%;
}

.subtitle {
  font-family: 'Proxima Nova';
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  text-decoration: underline;
  text-align: left;
  width: 100%;
  padding: 15px 0px 15px 0px;
}

.label {
  font-family: 'Work Sans';
  font-size: 16px;
  font-weight: bolder;
  line-height: 120%;
  padding-bottom: 10px;
}

.caption {
  font-family: 'Work Sans';
  font-size: 16px;
  line-height: 120%;
}

.content {
  width: 44%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 750px) {
  .content {
    width: 95%;
  }
}


.indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Work Sans';
  font-size: 18px;
  font-weight: 200;
  line-height: 120%;
  color: #F49C31;
  padding: 70px 40px;
}

.navbarContainer {
  margin: 50px 30px;
  width: 100%;
}

.navbar {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(55, 55, 55, .6);
  font-family: 'Work Sans';
  font-size: 18px;
  color: #FFFBF5;
}

.navbarButton {
  width: 105px;
}

.navbarText {
  display: flex;
  justify-content: space-between;
  width: 65%;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.container {
  display: flex;
  padding-bottom: 50px;
}

.competitorIcon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: 30px 10px 30px 10px;
}

.competitiveAnalysis {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  margin: 10px;
}

.persona {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 20px;
}

.research {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: 0 10px 0 10px;
}

.multipleImageContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.doubleImageContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.userFlow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.mockup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 45%;
  padding-right: 20px;
}

.mockupInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 55%
}

.moreProjects {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0 15px 0;
}

footer {
  width: 100%;
  height: 115px;
  background-color: #F49C31;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: block;
  justify-content: center;
  align-items: center;
  font-family: 'Proxima Nova';
  font-weight: 400;
  font-size: 36px;
  color: #FFFBF5;
}

.spacer {
  border-bottom: 1px solid white;
  width: 72.5%;
  margin: 10px 0 5px 0;
}
