body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #FFFBF5;
  color: #373737;
  font-family: 'Proxima Nova', sans-serif;
  src: url(styles/fonts/Proxima Nova);
  font-size: 18px;
  line-height: 120%;
  margin-top: 30px;
}

header {
  width: 72.5%;
  display: flex;
  justify-content: space-between;
}

.smallLogo {
  width: 50px;
  height: 37.5px;
}

.menu {
  width: 72.5%;
  display: flex;
  justify-content: flex-end;
}

.icon {
  width: 30px;
  height: 30px;
}

.hero {
  font-family: 'Karla', sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 120%;
  padding-top: 35px;
}

.byLine {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 120%;
  padding-top: 75px;
  display: flex;
  justify-content: center;
}

.project {
  padding-bottom: 50px;
  display: flex;
  width: 55%;
  /* justify-content: center;
  align-items: center; */
}

.projectImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.projectInfo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
}

.heroSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.heroDescription {
  width: 70%;
  text-align: center;
  padding: 30px 0px 30px 0px;
}

.projectName {
  font-family: 'Karla', sans-serif;
  src: url(styles/fonts/Karla);
  font-size: 48px;
  font-weight: bold;
  line-height: 120%;
}

.projectDescription {
  width: 70%;
  padding: 30px 0px 30px 0px;
}

.projectSubtitle {
  font-weight: 600;
}

.projectImage {
  padding-bottom: 30px;
}

.title {
  font-family: 'Karla', sans-serif;
  src: url(styles/fonts/Karla);
  font-size: 36px;
  text-align: center;
  line-height: 130%;
  padding-bottom: 30px;
}

.context {
  padding-bottom: 50px;
  text-align: left;
}

.subtitle {
  font-family: 'Proxima Nova', sans-serif;
  src: url('styles/fonts/Proxima Nova');
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  text-decoration: underline;
  text-align: left;
  padding: 15px 0px 15px 0px;
}

.label {
  font-family: "Work Sans", sans-serif;
  src: url(styles/fonts/worksans);
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  padding-bottom: 10px;
}

.caption {
  font-family: "Work Sans", sans-serif;
  src: url(styles/fonts/worksans);
  font-size: 16px;
  line-height: 120%;
}

.content {
  width: 44%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 750px) {
  .content {
    width: 95%;
  }
}


.indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 120%;
  color: #F49C31;
  padding: 70px 40px;
}

.navbar {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(55, 55, 55, .7);
  font-family: "Work Sans", sans-serif;
  src: url(styles/fonts/worksans);
  font-size: 18px;
  color: #FFFBF5;
  margin: 50px 30px;
}

.navbarText {
  display: flex;
  justify-content: space-between;
  width: 72.5%;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 72.5%;
}

.container {
  display: flex;
  padding-bottom: 30px;
}

.competitorIcon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.persona {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.competitiveAnalysis {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
}

.research {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.moreProjects {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 115px;
  background-color: #F49C31;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: block;
  justify-content: center;
  align-items: center;
  font-family: 'Proxima Nova', sans-serif;
  src: url('styles/fonts/Proxima Nova');
  font-weight: 400;
  font-size: 36px;
  color: #FFFBF5;
}

.spacer {
  border-bottom: 1px solid white;
  width: 72.5%;
  margin: 10px 0 5px 0;
}
